{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="{% static "js/signup.js" %}"> </script>
     <link rel="stylesheet" href="{% static "css/signup.css" %}">
     </head>

  <body>
  	<div class="main-w3layouts wrapper">
		<h1>Create an Account</h1>
		 
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="signup" method="post">
				{% csrf_token %}
				    <input class="text" type="text" name="first_name" placeholder="First Name" required="">
				    <input class="text" type="text" name="last_name" placeholder="Last Name" required="">
					<input class="text" type="text" name="username" placeholder="Username" required="">
					<input class="text" type="text" name="password1" placeholder="Password" required="">
					<input class="text" type="password" name="password2" placeholder=" Re-Enter Password" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					
					
					
					
					
					<input type="submit" value="SIGNUP">
				</form>
				  <div>
        {% for message in messages %}
        <h3> {{message}}  </h3>
        {% endfor %}
		
    </div>

				
			</div>
		</div>
		
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
  </body>
  </html>
  